* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Roboto;
  list-style: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

body {
  background-color: rgb(236, 235, 235);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
  background-color: whitesmoke;
  min-height: 10vh;
}

.logo {
  font-size: 55px;
  color: #d6000d !important;
  font-weight: 900;
  font-style: italic;
}

.logo span {
  color: black;
}

.conteiner-menu {
  margin: 0px 40px;
}

.menu-item {
  font-size: 20px;
  margin: 10px;
  font-weight: 900;
}

#botao-login {
  padding: 10px 40px;
  color: whitesmoke;
  background-color: #d6000d !important;
  border-radius: 10px;
  font-weight: 900 !important;
}

.conteiner-main {
  background-color: rgb(236, 235, 235);
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-conteiner-img {
  width: 35%;
  padding: 20px;
}

.main-conteiner-img img {
  width: 100%;
}

.main-conteiner-textsAndButton {
  width: 35%;
}

.main-conteiner-textsAndButton p {
  font-weight: 900;
  font-size: 2vw;
}

.main-conteiner-textsAndButton h2 {
  color: #d6000d;
  font-size: 4.5vw;
}

.main-conteiner-textsAndButton button {
  padding: 10px 40px;
  font-size: 2vw;
  background-color: #d6000d;
  border-radius: 10px;
  font-weight: 900 !important;
  margin-top: 3vw;
  border-style: none;
}

.main-conteiner-textsAndButton a {
  color: whitesmoke;
}

/* Seção 2 */

.conteiner-informacoes {
  height: auto;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(236, 235, 235);
  padding-top: 80px;
}

.informacoes-lista {
  width: 50%;
  position: relative;
  left: 15vw;
  font-size: 2.5vw;
  font-weight: 900;
}

.informacoes-lista li {
  padding: 5px;
  display: flex;
  align-items: center;
}

.icon-check {
  margin-right: 3vw;
  font-size: 2.5vw;
  background-color: #d6000d;
  color: whitesmoke;
  border-radius: 50%;
}

.informacoes-imagem {
  width: 50%;
}

.informacoes-imagem img {
  width: 80%;
}

.informacoes-form {
  width: 100%;
  padding: 0px 0px 0px 13vw;
  min-height: 15vh;
  order: 3;
}

.informacoes-form p {
  font-size: 16px;
  padding-bottom: 5px;
  padding-left: 6px;
  font-weight: 900;
}

.informacoes-form form input {
  padding: 10px 30px 10px 10px;
  background-color: rgb(212, 209, 209);
  border-radius: 10px;
  border-style: none;
}

.informacoes-form form button {
  border-style: none;
  padding: 10px 35px;
  background-color: #d6000d;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 900;
}

/* Seção 3 */

.conteiner-cards {
  margin-top: 10vh;
  background-color: rgb(236, 235, 235);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.card {
  width: 45%;
  min-height: 20vh;
  background-color: rgb(212, 209, 209);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  flex-shrink: 1;
  margin: 10px;
}

.card-img {
  align-self: flex-start;
  width: 35%;
  margin-right: 2px;
  box-sizing: border-box;
  border-radius: 100%;
  padding: 10px;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
}

.conteiner-card-text p {
  font-size: 15px;
  margin-bottom: 2vw;
}

.conteiner-card-text h2 {
  font-weight: 900;
  font-size: 24px;
}

.conteiner-card-text h3 {
  font-weight: 900;
  font-size: 15px;
}

/* Seção 4 - footer */

.conteiner-footer {
  min-height: 30vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding: 40px 10px;
  color: rgba(245, 245, 245, 0.85);
  font-size: 11px;
  font-weight: 100;
}

.footer-section1-Codar{
}

.footer-section1-Codar h2{
  font-size: 35px;
  font-weight: 900;
  font-style: oblique;
}

.footer-section4-Sociais{
}

.footer-section4-Sociais img{
  margin: 5px;
  background-color: red;
  border-radius: 5px;
}

.footer-sections{
  width: 20%;
}

.footer-sections p{
  padding-top: 20px;
  font-weight: 100;
  font-size: 12px;
  color: rgba(245, 245, 245, 0.733);
}

.footer-sections img{
  margin-top: 20px;
}


/* /////////////////////////////////////////////////////////////////////////////// */


/* Media Query´s */

@media (max-width: 700px) {
  .container-header {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 20px;
  }

  .conteiner-main {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 75px;
  }

  .main-conteiner-img {
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
  }

  .main-conteiner-textsAndButton {
    width: 100%;
  }

  .main-conteiner-textsAndButton p {
    font-size: 4vw;
  }

  .main-conteiner-textsAndButton h2 {
    font-size: 9vw;
  }

  .main-conteiner-textsAndButton button {
    font-size: 5vw;
    margin-bottom: 10px;
  }

  /* Seção 2 */

  .conteiner-informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
  }

  .informacoes-lista {
    position: static;
    width: 60%;
    font-size: 3vw;
    order: 2;
    margin: 60px 0px;
  }

  .informacoes-imagem {
    width: 80%;
    order: 1;
  }

  .informacoes-imagem img {
    width: 100%;
  }

  .informacoes-form {
    width: 100%;
    padding: 0px;
    order: 3;
    margin: 0px;
  }

  .informacoes-form p {
    font-size: 4vw;
    text-align: center;
  }

  .informacoes-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 80%;
    margin: 0px auto;
    padding: 0px 25vw;
  }

  /* Seção 4 - cards */

  .conteiner-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin: 0px 0px 10px 0px;
  }

  /* Seção 5 - footer  */

  .conteiner-footer {
    min-height: 30vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 10px 20px;
    color: rgba(245, 245, 245, 0.85);
    font-size: 5vw;
    font-weight: 100;

    flex-direction: column;
  }

  .footer-sections{
    margin: 10px;
    width: 100%;
  }

  .footer-sections p{
    padding: 0px;
    font-size: 3vw;
  }

  .footer-section1-Codar{
    text-align: center;
  }
  
  .footer-section1-Codar h2{
    font-size: 55px;
    font-weight: 900;
    font-style: oblique;
  }
  
  .footer-section3-Contato a{
    font-size: 4vw;
    color: rgba(245, 245, 245, 0.753);
    text-decoration: underline 0.1px rgba(245, 245, 245, 0.548);
  }

  .footer-section3-Contato p{
    padding-top: 17px;
  }
  
  .footer-section4-Sociais img{
    margin: 5px;
    background-color: red;
    border-radius: 5px;
  }
  
  .footer-sections img{
    margin-top: 20px;
  }

}

@media (max-width: 510px) {
  #botao-login {
    display: none;
  }

  .informacoes-lista {
    font-size: 4vw;
  }
}

/* diminue botões dos menus */
@media (max-width: 350px) {
  .menu-item {
    font-size: 15px;
  }
}
